#buttonRemove {
    color: #dc3545;
}
#buttonRemove:hover {
    background-color: #dc3545;
    color: aliceblue;
}

#buttonEdit {
    color: #17a2b8;
}

#buttonEdit:hover {
    background-color: #17a2b8;
    color: aliceblue;
}

.w-50 {
    width: 49%!important;
}